<%inherit file="base.html" />
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li><a href="force_search?source=magazines&title=${title | u}" id="sbutton"> Force Search </a></li>
      <li><a href="force_process?source=magazines" id="pbutton"> Force Post-Processing </a></li>
      <li><a href="magazine_scan" id="lbutton"> Library Scan </a></li>
      <li><a href="past_issues?whichStatus=Skipped" id="ibutton"> Past Issues </a></li>
    </ul>
  </div>
</%def>
<%def name="body()">
  <br>
  <br>
  <h1>&nbsp;&nbsp;${title}</h1>
  <p class="indented">
    <form action="mark_issues" method="get">
      <select name="action" id="action" style="margin-left:30px;margin-top:15px;margin-bottom:15px;">
        <option value="Remove" selected>Remove</option>
        <option value="Delete">Delete</option>
        <option value="Leave" class="hidden">Leave</option>
      </select>
      <input type="submit" id="go" value="Go">
    </p>
    <table class="display" id="book_table" style="margin-top:60px;">
      <thead>
        <tr>
          <th id="selectall"><input type="checkbox" onClick="toggleAll(this)" /></th>
          % if covercount > 0:
          <!--suppress XmlDuplicatedId -->
          <th id="bookart">Cover</th>
          % else:
          <!--suppress XmlDuplicatedId -->
          <th id="bookart" hidden="true">Cover</th>
          % endif
          <th id="issuedate">Issue</th>
          <th id="lastacquired">Acquired</th>
          <th id="issue">Issue</th>
        </tr>
      </thead>
      <tbody>
        %for result in issues:
        <tr class="gradeZ">
          <td id="select"><input type="checkbox" name="${result['IssueID']}" class="checkbox" /></td>
          % if covercount > 0:
          <td id="bookart"><a href="${result['Cover']}" target="_new"><img src="${result['Cover']}" height="75" width="50"></a></td>
          % else:
          <td id="bookart" hidden="true"><a href="${result['Cover']}" target="_new"><img src="${result['Cover']}" height="75" width="50"></a></td>
          % endif
          <td id="issuedate">${result['IssueDate']}</td>
          <td id="lastacquired">${result['IssueAcquired']}</td>
          <td id="issue"><a class="button green" href="open_mag?bookid=${result['IssueID']}" target="_self">${"Open"}</a></td>
        </tr>
        %endfor
      </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
        $('#go').click(function () {
                var action = $("#action").val();
                if (action == "Delete") {
                    if (confirm('Are you sure you want to permanently delete the selected issues?')) {
                        return
                    } else {
                        $("#action").val("Leave")
                        return
                    }
                } else {
                    return
                }
            });

        $('#book_table').dataTable(
            {
                "order": [[ 2, 'desc']],
                "aoColumns": [
                    {"bSortable": false},
                    {"bSortable": false},
                    null,
                    null,
                    null
                    ],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ issues per page",
                    "sEmptyTable": "No issues found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 issues",
                    "sInfoFiltered":"(filtered from _MAX_ total issues)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
            });
            $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>
