<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="body()">

<br><br>
<h1>&nbsp;&nbsp;${title}</h1>
    <table class="display" id="book_table">
        <thead>
            <tr>
                <th id="bookart">Cover</th>
                <th id="authorname">Author</th>
                <th id="bookname">Title</th>
                <th id="date">Released</th>
                <th id="stars">Rating</th>
                <th id="add_author">Add</th>
                <th id="stars">Match</th>
             </tr>
        </thead>

        <tbody>
            %if searchresults is not None:
                %for result in searchresults:
                    <%
                    if result['bookrate'] < 0.5:
                        starimg = '0-stars.png'
                    elif result['bookrate'] >= 0.5 and result['bookrate'] < 1.5:
                        starimg = '1-stars.png'
                    elif result['bookrate'] >= 1.5 and result['bookrate'] < 2.5:
                        starimg = '2-stars.png'
                    elif result['bookrate'] >= 2.5 and result['bookrate'] < 3.5:
                        starimg = '3-stars.png'
                    elif result['bookrate'] >= 3.5 and result['bookrate'] < 4.5:
                        starimg = '4-stars.png'
                    elif result['bookrate'] >= 4.5:
                        starimg = '5-stars.png'
                    else:
                        starimg = '0-stars.png'

                    if authorlist and result['authorid'] in authorlist:
                        destination = "author_page?authorid="+result['authorid']
                        value = "Have Author"
                        but_class = "button green"
                    elif result['authorid']:
                        destination = "add_author_id?authorid="+result['authorid']
                        value = "Add Author"
                        but_class = "button"
                    else:
                        destination = "add_author?AuthorName="+result['authorname']
                        value = "Add Author"
                        but_class = "button"

                    if booklist:
                        if result['bookid'] in booklist:
                            for item in booksearch:
                                if item['BookID'] == result['bookid']:
                                    value2 = item['Status']
                                    valid_id = item['BookID']

                            if 'Open' in value2:
                                destination2 = "open_book?bookid="+valid_id
                                but_class2 = "button green"
                            elif 'Wanted' in value2:
                                destination2 = "search_for_book?bookid="+valid_id
                                but_class2 = "button red"
                            elif 'Skipped' in value2:
                                destination2 = "add_book?bookid="+result['bookid']
                                value2 = "Add Book"
                                but_class2 = "button"
                            else:
                                destination2 = "#"
                                but_class2 = "button grey"

                        else:
                            destination2 = "add_book?bookid="+result['bookid']
                            value2 = "Add Book"
                            but_class2 = "button"

                    else:
                        destination2 = "add_book?bookid="+result['bookid']
                        value2 = "Add Book"
                        but_class2 = "button"
                    %>
<tr class="gradeZ">
  <td id="bookart"><a href="${result['bookimg']}" target="_new"><img src="${result['bookimg']}" height="75" ></a></td>
  <td id="authorname">${result['authorname']}</td>
  <td id="bookname"><a href="${result['booklink']}" target="_new">${result['bookname']}</a></td>
  <td id="date">${result['bookdate']}</td>
  <td id="stars"><img src="images/${starimg}" height="10"></td>
  <td id="add_author"><a class="${but_class}" href="${destination}">${value}</a>
    <BR><BR><a class="${but_class2}" href="${destination2}">${value2}</a>
  </td>
  <td id="fuzz">${result['highest_fuzz']}%</td>
</tr>
%endfor
%endif
</tbody>
</table>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
        $('#book_table').dataTable(
            {
                "responsive": true,
                "order": [[ 6, 'desc' ]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                    ],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ books per page",
                    "sEmptyTable": "No books found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 books",
                    "sInfoFiltered":"(filtered from _MAX_ total books)"},
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
            });
            $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>
